html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Lato", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited {
  color: #0000ff;
  cursor: pointer;
}
